html {
    width: 100%;
    height: 100%;
    font-size: 14px;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-family: 'Alegreya Sans';
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
h2 {
    color: #bbb;
    font-size: 0.8125rem;
    margin: 0.25rem 0 1rem;
    text-transform: uppercase;
    font-family: 'Signika Negative';
}

/* Logo, subtitle, and menu nav */
header {
    width: 100%;
    height: 4rem;
    position: fixed;
    border-bottom: 1px solid #ddd;
}
header nav.logo {
    top: 0;
    left: 0;
    width: 10rem;
    height: 4rem;
    position: fixed;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
}
header nav.logo a {
    color: #333;
    height: 4rem;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    box-sizing: border-box;
}
header nav.logo a:hover {
    background-color: #f9f9f9;
}
header nav.logo .brand {
    float: left;
    width: 4rem;
    display: block;
    font-size: 3rem;
    line-height: 1.05;
    font-family: 'Signika Negative';
}
header nav.logo .name {
    display: block;
    line-height: 1;
    margin-left: 1rem;
    font-size: 1.125rem;
    padding-top: 0.4rem;
    font-family: 'Signika Negative';
}
header section.subtitle {
    color: #444;
    height: 4rem;
    background: #fff;
    margin-left: 10rem;
    font-size: 1.33rem;
    line-height: 0.96875;
    padding: 0.75rem 1rem;
    box-sizing: border-box;
    width: calc(100% - 18rem);
}
header section.subtitle span.smaller {
    color: #999;
    font-size: 1rem;
}
header nav.menu {
    top: 0;
    right: 0;
    width: 8rem;
    height: 4rem;
    position: fixed;
    text-align: right;
    background-color: #fff;
}
header nav.menu a.button {
    color: #666;
    margin: 0.75rem;
    background: #eee;
    font-size: 1.125rem;
    display: inline-block;
    text-decoration: none;
    border-radius: 0.25rem;
    padding: 0.625rem 0.75rem;
}
header nav.menu a.button:hover {
    color: #333;
    background: #ddd;
}

/* Content area */
main {
    padding-top: 4rem;
}

/* Left side list of contributors */
main nav {
    top: 4rem;
    bottom: 0;
    width: 10rem;
    position: fixed;
    padding: 1rem 0.75rem 0;
    box-sizing: border-box;
    border-right: 1px solid #eee;
}
main nav .contributor .avatar {
    float: left;
    margin: 0 0.5rem 0.5rem 0;
}
main nav .contributor .name {
    font-size: 1.125rem;
    margin-bottom: 0.125rem;
}
main nav .contributor .website {
    font-size: 0.9375rem;
}
main nav .contributor .bio {
    margin: 0;
    padding: 0;
    color: #777;
    font-size: 0.875rem;
}

/* Articles */
main section.content {
    padding: 1rem;
    margin-left: 10rem;
    box-sizing: border-box;
    width: calc(100% - 24rem);
}
main section.content h3 {
    font-size: 1.4em;
    line-height: 1.125;
    font-family: 'Signika Negative';
}
main section.content h3 a {
    color: #222;
    text-decoration: none;
}
main section.content article {
    padding: 1rem;
    margin: 0 0 1rem;
}
main section.content blockquote {
    padding: 0;
    color: #444;
    font-size: 1rem;
    line-height: 1.4;
    margin: 1rem 0 0;
}

/* Topic list */
main section.topics {
    right: 0;
    top: 4rem;
    bottom: 0;
    width: 14rem;
    padding: 1rem;
    position: fixed;
    overflow-y: auto;
    box-sizing: border-box;
}
main section.topics ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
main section.topics li {
    font-size: 1rem;
    margin-right: 0.4rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    font-family: 'Signika Negative';
}
main section.topics li a {
    color: #111;
    display: block;
    text-decoration: none;
    padding: 0.33rem 0.5rem;
}
main section.topics li a span.count {
    font-size: 0.75rem;
    border-radius: 1rem;
    margin-left: 0.25rem;
    display: inline-block;
    vertical-align: middle;
    padding: 0.125rem 0.4rem;
    color: rgba(0, 0, 0, 0.66);
    background-color: rgba(255, 255, 255, 0.25);
}

/* Clear floats */
.group:after {
    clear: both;
    content: "";
    display: table;
}

/*
This should be injected into HTML */
.topic-privacy {
    background-color: rgb(135, 206, 250);
}
.topic-privacy-light {
    background-color: rgba(135, 206, 250, 0.2);
}
.topic-programming {
    background-color: rgb(175, 238, 238);
}
.topic-programming-light {
    background-color: rgba(175, 238, 238, 0.3);
}
.topic-communication {
    background-color: rgb(255, 218, 185);
}
.topic-communication-light {
    background-color: rgba(255, 218, 185, 0.3);
}
.topic-fun-games {
    background-color: rgb(255, 215, 0);
}
.topic-fun-games-light {
    background-color: rgba(255, 215, 0, 0.15);
}
.topic-lifes-work {
    background-color: rgb(240, 230, 140);
}
.topic-lifes-work-light {
    background-color: rgba(240, 230, 140, 0.3);
}


/*
Colors

135, 206, 250 0.2  lightskyblue
175, 238, 238 0.3  paleturquoise
255, 218, 185 0.3  peachpuff
255, 182, 193 0.25 lightpink
240, 230, 140 0.3  khaki
173, 216, 230 0.3  lightblue
244, 164,  96 0.25 sandybrown
222, 184, 135 0.25 burlywood
255, 215,   0 0.15 gold
255, 127,  80 0.15 coral
250, 128, 114 0.2  salmon
144, 238, 144 0.2  lightgreen
102, 205, 170 0.15 mediumaquamarine
221, 160, 221 0.22 plum
216, 191, 216 0.3  thistle
*/