/* Readability */
@media screen and (max-width: 880px) {
    main section.topics {
        display: none;
    }
    main section.content {
        width: calc(100% - 10rem);
    }
}
@media screen and (max-width: 560px) {
    header section.subtitle .smaller {
        display: none;
    }
}
@media screen and (max-width: 440px) {
    header section.subtitle {
        display: none;
    }
    main nav {
        display: none;
    }
    main section.content {
        width: 100%;
        margin-left: 0;
    }
}
@media screen and (max-width: 260px) {
    header nav.menu {
        width: 4rem;
    }
    header nav.menu a.sitemap span {
        display: none;
    }
    header nav.menu a.sitemap:before {
        content:'\2630';
    }
}

/* Mobile-first overrides */
@media screen and (min-width: 320px) {}
@media screen and (min-width: 480px) {
    html {
        font-size: 15px;
    }
}
@media screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }
    header nav.logo,
    main nav {
        width: 12rem;
    }
    header nav.logo .brand {
        width: 5rem;
        font-size: 3.75rem;
        line-height: 0.875;
    }
    header nav.logo .name {
        font-size: 1.33rem;
        padding-top: 0.25rem;
    }
    header section.subtitle {
        margin-left: 12rem;
        width: calc(100% - 20rem);
    }
    main section.content {
        margin-left: 12rem;
        width: calc(100% - 28rem);
    }
    main section.content h3 {
        font-size: 1.5em;
    }
    main section.topics {
        width: 16rem;
    }
}
@media screen and (min-width: 1024px) {
    html {
        font-size: 17px;
    }
}
@media screen and (min-width: 1200px) {
    html {
        font-size: 18px;
    }
    header nav.logo,
    main nav {
        width: 14rem;
    }
    header nav.logo .name {
        padding-top: 0.2rem;
    }
    header section.subtitle {
        margin-left: 14rem;
        width: calc(100% - 22rem);
    }
    main section.content {
        margin-left: 14rem;
        width: calc(100% - 32rem);
    }
    main section.topics {
        width: 18rem;
    }
    main section.topics li a {
        padding: 0.33rem 0.5rem 0.25rem
    }
}
@media screen and (min-width: 1400px) {
    main section.content {
        width: calc(100% - 34rem);
    }
    main section.topics {
        width: 20rem;
    }
    main section.topics li {
        font-size: 1.125rem;
    }
}
@media screen and (min-width: 1600px) {
    html {
        font-size: 20px;
    }
    main section.content {
        width: calc(70% - 14rem);
    }
    main section.topics {
        width: calc(30%);
    }
    main section.topics li {
        font-size: 1.25rem;
    }
    main section.topics li a span.count {
        transform: translateY(-0.1rem);
    }
}